body {
  font-family: "SegoeUI", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: $text;
}

.ul-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.light-bg {
  background-color: #f8f8f8;
}

.row-10 {
  margin-right: -5px;
  margin-left: -5px;

  > [class^="col"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@keyframes pulse-1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse-2 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
