body {
  font-family: "SegoeUI", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: $text;
}

h1,
h2 {
  text-align: center;
  word-break: break-word;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  line-height: 1;
  margin: 0 0 35px;
}

h2 {
   font-size: 42px;
   line-height: 1.15;
   margin: 0 0 1em;
   position: relative;
   padding-bottom: 25px;

   &::after {
     content: "";
     position: absolute;
     width: 60px;
     height: 2px;
     left: 50%;
     transform: translateX(-50%);
     bottom: 0;
     background-color: $success;
   }
 }

.ul-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.light-bg {
  background-color: #f8f8f8;
}

.row-10 {
  margin-right: -5px;
  margin-left: -5px;

  > [class^="col"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@keyframes pulse-1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse-2 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }
}
