@import "fonts.scss";
@import "vars.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "global.scss";
@import "blocks/btn.scss";
@import "blocks/header.scss";
@import "blocks/site-logo.scss";
@import "blocks/slider.scss";
@import "blocks/section-title.scss";
@import "blocks/why-us.scss";
@import "blocks/why-us-item.scss";
@import "blocks/categories.scss";
@import "blocks/projects.scss";
@import "blocks/product-card.scss";
@import "blocks/advantages.scss";
@import "blocks/advantages-list.scss";
@import "blocks/advantage.scss";
@import "blocks/steps.scss";
@import "blocks/steps-list.scss";
@import "blocks/step.scss";
@import "blocks/contact-form-block.scss";
@import "blocks/footer.scss";
