$font-family-base: "SegoeUI", Arial, sans-serif;
$text: #000e39;
$body-color: $text;
$primary: #00bbdf;
$success: #49d074;
$font-size-base: 0.875rem;
$line-height-base: 1.4;
$btn-line-height-lg: inherit;
$btn-font-size: inherit;
$btn-padding-y-lg: 14px;
$btn-font-size-lg: inherit;
$btn-border-radius: 5px;
$input-border-radius: 5px;
$pagination-padding-y: 8px;
$pagination-padding-x: 0;
$pagination-color: inherit;
$pagination-hover-color: $success;
$pagination-hover-bg: transparent;
$pagination-active-bg: $success;
$pagination-border-width: 0;
