.advantage__circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 94px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: $primary;
  border-radius: 50%;
  border: 1px solid $success;
  margin-bottom: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
  transition: 0.25s;
}

.advantage__circle::before,
.advantage__circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid $success;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
  opacity: 0;
  transition: 0.4s;
}

.advantage__circle::before {
  width: 110px;
  height: 110px;
}

.advantage__circle::after {
  width: 128px;
  height: 128px;
}

.advantage__circle:hover {
  color: #54d27c;
}

.advantage__circle:hover::before {
  opacity: 0.5;
}

.advantage__circle:hover::after {
  opacity: 0.3;
}

.advantage__descr {
  font-size: 16px;
  font-weight: 600;
}
