.btn {
  &--call,
  &--question {
    max-width: 195px;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 14px 30px;
    font-weight: 600;
    white-space: nowrap;

    &::before {
      content: "";
      flex-shrink: 0;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &--video {
    position: absolute;
    z-index: 1;
    right: 25px;
    bottom: 25px;

    .fa {
      font-size: 12px;
      margin-left: 8px;
    }
  }
}

.btn--call::before {
  width: 12px;
  height: 12px;
  background-image: url("../images/btn-call-icon.svg");
}

.btn--question::before {
  width: 14px;
  height: 14px;
  background-image: url("../images/btn-question-icon.svg");
}

.btn-success,
.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active {
  color: #ffffff;
}

.btn-lg {
  min-width: 195px;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .btn {
    &--call,
    &--question {
      padding: 14px 10px;
      justify-content: center;

      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .btn--video {
    display: none;
  }
}

@media (max-width: 991px) {
  .btn {
    &--call,
    &--question {
      display: inline-flex;
    }
  }
}

