.categories {
  padding: 40px 0 0;
}

.categories__title {
  margin-bottom: 50px;
}

.categories__item {
  margin-bottom: 40px;
}

.categories__item-link {
  display: block;
  border-radius: 5px;
  overflow: hidden;
  color: inherit;
}

.categories__item-link:hover,
.categories__item-link:focus {
  text-decoration: none;
  color: #ffffff;
}

.categories__item-link:hover .categories__item-title {
  background-color: $success;
}

.categories__item-img {
  width: 100%;
}

.categories__item-title {
  text-align: center;
  font-weight: bold;
  background-color: #f7f7f7;
  padding: 20px 5px;
  transition: 0.25s;
}

@media (min-width: 1200px) {
  .categories {
    .row {
      > [class^="col"] {
        flex-basis: calc(100% / 8);
      }
    }
  }
}

@media (max-width: 767px) {
  .categories__title {
    margin-bottom: 35px;
  }

  .categories__item {
    margin-bottom: 10px;
  }
}
