.cities-block {
  padding: 40px 0;
}

.cities-block__title {
  margin-bottom: 50px;
}

.cities-block__list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    column-count: 5;
  }

  li {
    margin-bottom: 15px;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 97.713 97.713' fill='%230bb8db'%3E%3Cpath d='M48.855 0C29.021 0 12.883 16.138 12.883 35.974c0 5.174 1.059 10.114 3.146 14.684 8.994 19.681 26.238 40.46 31.31 46.359a2.003 2.003 0 003.034 0c5.07-5.898 22.314-26.676 31.311-46.359 2.088-4.57 3.146-9.51 3.146-14.684C84.828 16.138 68.69 0 48.855 0zm0 54.659c-10.303 0-18.686-8.383-18.686-18.686 0-10.304 8.383-18.687 18.686-18.687s18.686 8.383 18.686 18.687c.001 10.303-8.382 18.686-18.686 18.686z'/%3E%3C/svg%3E");
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: 991px) {
  .cities-block__list {
    ul {
      column-count: 3;
    }
  }
}

@media (max-width: 575px) {
  .cities-block__list {
    ul {
      column-count: 2;
    }
  }
}
