.contact-form-block {
  color: #ffffff;
  background-color: #0695b0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url("../images/contact-form-bg.jpg");
  padding: 140px 0 100px;

  .title-forma {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
  }

  .form-home__announce {
    opacity: 0.8;
    font-size: 18px;
    margin-top: 10px;
  }

  .form-home__form {
    margin-top: 35px;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;
  }

  .control-label {
    opacity: 0.7;
  }

  .form-control {
    font-size: 16px;
    height: 50px;
    border-color: transparent;
  }

  button[type="submit"] {
    min-width: 210px;
    padding: 15px;
  }

  .form-check {
    padding-left: 0;

    input:checked ~ .form-check-label::after {
      opacity: 1;
    }
  }

  .form-check-label {
    color: rgba(255, 255, 255, 0.8);
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      background-color: #ffffff;
    }

    &::after {
      content: '';
      position: absolute;
      left: 3px;
      top: 4px;
      width: 12px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.701 45.7' fill='%2349d074'%3E%3Cpath d='M20.687 38.332a5.308 5.308 0 01-7.505 0L1.554 26.704A5.306 5.306 0 119.059 19.2l6.928 6.927a1.344 1.344 0 001.896 0L36.642 7.368a5.308 5.308 0 017.505 7.504l-23.46 23.46z'/%3E%3C/svg%3E");
      opacity: 0;
      transition: 0.25s;
    }
  }
}

@media (max-width: 767px) {
  .contact-form-block {
    background-image: none;
    padding: 70px 0;
  }
}

@media (max-width: 575px) {
  .contact-form-block {
    .title-forma {
      font-size: 32px;
    }
  }
}
