.credit-page {
  .nav-tabs {
    justify-content: center;

    .nav-item {
      flex-grow: 0;
      min-width: 180px;
    }
  }

  &__tab-content {
    margin-top: 40px;
  }

  &__form-block {
    margin-top: 30px;

    .close {
      font-size: 30px;
      font-weight: normal;
    }

    .form-group {
      margin-bottom: 30px;
    }

    .control-label {
      font-size: 13px;
      color: #afafaf;
    }

    .form-control {
      background-color: #eff0f4;
      border-color: transparent;
      height: 50px;
    }

    textarea.form-control {
      height: auto;
      resize: none;
    }

    .btn {
      @extend .btn-lg;
    }
  }

  .editor-content {
    h3,
    .h3 {
      margin-bottom: 25px;

      &:not(:first-child) {
        margin-top: 40px;
      }
    }

    ol,
    ul {
      &:not([class]) {
        li {
          padding-left: 40px;

          &::before {
            left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .credit-page {
    &__short-info {
      margin-top: 30px;
    }
  }
}

@media (max-width: 767px) {
  .credit-page {
    .nav-tabs {
      .nav-item {
        min-width: auto;
      }
    }
  }
}
