.faq-item {
  color: #323b49;

  & + & {
    margin-top: 10px;
  }

  &__question-btn {
    width: 100%;
    padding: 25px 30px;
    border: 1px solid $success;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    text-align: left;
    background-color: $success;
    color: #ffffff;

    &.collapsed {
      background-color: transparent;
      color: inherit;
      border-radius: 5px;
    }

    &:focus {
      outline: none;
    }
  }

  &__answer {
    padding: 25px 30px;
    line-height: 1.7;
    border: 1px solid $success;
    border-radius: 0 0 5px 5px;

    p {
      margin-bottom: 0;

      & + & {
        margin-top: 10px;
      }
    }
  }
}
