.footer__middle {
  padding: 120px 0;
  background-color: #2a2c2b;
  color: rgba(255, 255, 255, 0.5);
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__social-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer__social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}

.footer__social li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer__menu-title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__menu a {
  color: inherit;
}

.footer__contacts {
  width: 195px;
  margin-left: auto;
}

.footer__contacts-btn {
  margin-bottom: 35px;
}

.footer__contact-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer__contact-item:last-child {
  margin-bottom: 0;
}

.footer__contact-item-icon {
  width: 22px;
  flex-shrink: 0;
  color: $success;
  position: relative;
  top: -2px;
}

.footer__bottom {
  padding: 35px 0 20px;
  background-color: #1c1d1c;
  color: rgba(255, 255, 255, 0.8);
}

.footer__bottom-development {
  text-align: right;
}

@media (max-width: 991px) {
  .footer__middle {
    padding: 70px 0;
  }

  .footer__menu {
    margin-top: 40px;
  }

  .footer__contacts {
    margin-left: 0;
    width: auto;
  }

  .footer__contacts-btn {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .footer__bottom-development {
    text-align: left;
  }
}

@media (max-width: 575px) {
  .footer__middle {
    padding: 50px 0;
  }

  .footer__menu-title {
    margin-bottom: 20px;
  }

  .footer__contacts {
    margin-top: 40px;
  }

  .footer__contacts-btn {
    margin-bottom: 25px;
  }
}
