.free-calc-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  min-height: 100%;
  line-height: 1.8;

  &__img-wrap {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__descr {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__accent-text {
    color: $success;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
