.header {
  position: relative;
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid rgba(149, 149, 149, 0.1);
}

.header__contact {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1.3;

  &--city,
  &--tel,
  &--email {
    margin-bottom: 25px;
  }
}

.header__contact-icon-wrap {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 5px;
  background-color: #efefef;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  color: $success;
  transition: 0.25s;
}

.header__contact:hover .header__contact-icon-wrap {
  color: darken($success, 10%);
}

.header__contact-key {
  color: rgba(44, 44, 44, 0.5);
}

.header__contact-value {
  color: #323b49;
  white-space: nowrap;
}

.header__contact-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &::after {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.header__contact .fa {
  font-size: 10px;
  position: relative;
  top: -1px;
}

.header__city-dropdown,
.header__tel-dropdown {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
  border: none;
  font-size: inherit;
}

.header__city-dropdown {
  padding: 0;
  overflow: hidden;
}

.header__city-dropdown > li {
  color: #323b49;
}

.header__city-item {
  width: 100%;
  padding: 8px 32px 8px 25px;
  text-align: left;
  border: none;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
}

.header__city-item:hover,
.header__city-item:focus {
  background-color: #49ce73;
  color: #ffffff;
}

.header__city-item--active {
  color: #49ce73;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  background-size: 12px auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.701 45.7' fill='%2349ce73'%3E%3Cpath d='M20.687 38.332a5.308 5.308 0 01-7.505 0L1.554 26.704A5.306 5.306 0 119.059 19.2l6.928 6.927a1.344 1.344 0 001.896 0L36.642 7.368a5.308 5.308 0 017.505 7.504l-23.46 23.46z'/%3E%3C/svg%3E");
}

.header__city-item--active:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.701 45.7' fill='%23ffffff'%3E%3Cpath d='M20.687 38.332a5.308 5.308 0 01-7.505 0L1.554 26.704A5.306 5.306 0 119.059 19.2l6.928 6.927a1.344 1.344 0 001.896 0L36.642 7.368a5.308 5.308 0 017.505 7.504l-23.46 23.46z'/%3E%3C/svg%3E");
}

.header__tel-dropdown {
  padding: 15px 25px;
}

.header__tel-dropdown > li {
  color: rgba(44, 44, 44, 0.5);
}

.header__tel-dropdown > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.header__tel-dropdown > li > a {
  display: block;
  color: #323b49;
  text-decoration: underline;
  padding: 0;
  font-weight: 600;
  margin-top: 2px;

  &:hover {
    text-decoration: none;
  }
}

.header__btn + .header__btn {
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .header__site-logo {
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .header__contact {
    &--city,
    &--tel,
    &--email {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 575px) {
  .header {
    padding: 10px 0;
  }

  .header__site-logo {
    margin-left: 10px;

    .site-logo__img {
      width: 50px;
      margin-right: 0;
    }

    .site-logo__name,
    .site-logo__descr {
      display: none;
    }
  }
}
