.item-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px 30px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: 0.25s;

  &:hover {
    border-color: $success;
  }

  &__label {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: $primary;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;

    &--closed {
      background-color: #e83b3b;
    }
  }

  &__img-link {
    display: block;
  }

  &__img {
    width: 100%;
    border-radius: 10px;
  }

  &__date {
    font-weight: 600;
    color: $primary;

    .fa {
      margin-right: 5px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    color: #191919;

    a {
      color: inherit;
      transition: 0.25s;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__more-link {
    color: $success;

    .fa {
      margin-left: 5px;
    }

    &:hover {
      text-decoration: none;
      color: darken($success, 8%);
    }
  }
}

.item-card--news-item {
  .item-card__img-link,
  .item-card__title {
    margin-bottom: 15px;
  }
}

.item-card--articles-item {
  .item-card__img-link,
  .item-card__date,
  .item-card__title {
    margin-bottom: 15px;
  }
}

.item-card--specials-item {
  .item-card__img-link,
  .item-card__date,
  .item-card__title {
    margin-bottom: 15px;
  }
}
