.megamenu {
  background-color: #efefef;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
}

.megamenu__icon {
  flex-shrink: 0;
  color: $success;
  margin-right: 5px;
}

.menu-cart-count {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-left: 3px;
}

.wsmenu {
  font-family: inherit;
  border-left: none;
  width: 100%;
  height: auto!important;

  > .wsmenu-list {
    display: flex;

    > li {
      position: relative;
      flex-grow: 1;

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 0;
        top: 12px;
        bottom: 12px;
        width: 1px;
        background-color: #959595;
        opacity: 0.2;
      }

      &.active {
        > a {
          color: $success;
        }

        > .navtext {
          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 4px;
            background-color: $success;
          }
        }
      }

      &:last-child {
        > a {
          padding-right: 0;
        }
      }

      > a {
        color: #323b49;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
        transition: 0.25s;
      }

      &:hover {
        > a,
        button {
          color: $success;
        }

        > ul.sub-menu--projects {
          z-index: 1000;
        }
      }

      > .navtext {
        display: flex;
        align-items: center;
        padding: 24px 12px;

        .fa {
          font-size: 8px;
          position: relative;
          top: 1px;
          margin-left: 3px;
        }
      }

      > .navicon {
        padding: 14px 13px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #cacaca;
      }

      > ul.sub-menu {
        top: 100%;
        border: none;
        box-shadow: 0 19px 40px 0 rgba(34, 35, 40, 0.08);

        > li {
          > a {
            font-size: 14px;
            font-weight: 600;
            color: #323b49;
            padding: 13px 20px;
            transition: background-color 0.25s;
          }

          &:hover {
            > a {
              background-color: $success;
              color: #ffffff;
            }
          }

          > ul.sub-menu {
            opacity: 0;
            visibility: hidden;
            min-width: 190px;
            position: absolute;
            left: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #f9f9f9;
            box-shadow: 0 19px 40px 0 rgba(34, 35, 40, 0.14);
            top: 0;
            transform: translateY(20px);
            transform-origin: center center;
            transition: transform 0.3s, opacity 0.3s;

            > li {
              > a {
                display: block;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                color: #323b49;
                padding: 13px 20px;
                transition: background-color 0.25s;
              }

              &:hover {
                > a {
                  background-color: $success;
                  color: #ffffff;
                  text-decoration: none;
                }
              }
            }
          }

          &:hover > ul.sub-menu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0deg);
          }
        }

        &--projects {
          display: flex;
          z-index: -1;
          width: 1110px;
          max-height: calc(100vh - 250px);
          overflow-y: auto;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          padding-top: 10px;

          &::-webkit-scrollbar {
            width: 20px;
          }

          &::-webkit-scrollbar-thumb {
            border-left: 8px solid rgba(0, 0, 0, 0);
            border-right: 8px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            background-color: $primary;
          }

          > li {
            width: 16.5%;
            margin-bottom: 15px;

            img {
              display: block;
              max-height: 40px;
              margin-bottom: 10px;
              border-radius: 5px;
            }

            > a {
              text-decoration: underline;
            }

            > ul.sub-menu {
              display: block;
              opacity: 1;
              visibility: visible;
              transform: none;
              position: relative;
              left: 0;
              background-color: transparent;
              box-shadow: none;

              > li {
                > a {
                  font-weight: normal;
                  color: #515151;
                  padding: 7px 20px;
                }

                &:hover {
                  > a {
                    background-color: transparent;
                    color: #515151;
                    text-decoration: underline;
                  }
                }
              }
            }

            &:hover {
              > a {
                background-color: transparent;
                color: $success;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .megamenu {
    display: none;
  }
}
