.mm-menu {
  a {
    &.mm-listitem__text,
    &.mm-navbar__title {
      font-size: 16px;
      text-transform: uppercase;
    }

    &.mm-listitem__text {
      font-weight: 600;
      color: $text;
    }

    &.mm-navbar__title {
      font-weight: bold;
      color: $primary;
    }
  }
}

#mm-1 {
  .mm-navbar {
    display: none;
  }
}

.mm-listitem__btn:not(.mm-listitem__text) {
  border-left-width: 0;
}

.mm-navbars_bottom {
  .mm-navbar{
    text-align: left;

    > * {
      min-height: auto;
      display: block;
    }

    &:first-child {
      display: block;
      padding: 20px;
    }

    .btn {
      color: #ffffff;
    }

    .contact-item__key {
      margin-top: -4px;
    }
  }
}

.mmenu {
  &__social {
    margin-bottom: 20px;

    &-title {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 -10px;

      li {
        margin-right: 10px;
        margin-bottom: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        color: #ffffff !important;
      }
    }
  }
}
