.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  order: -1;
}

.modal-content {
  .control-label {
    font-size: 13px;
    color: #afafaf;
  }

  .btn {
    margin: 30px auto 0;
    padding: 14px 30px;
    min-width: 210px;
  }

  .form-control {
    height: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
  }

  .modal-body {
    padding: 15px 30px 30px;
  }
}
