.page-site-gallery-one {
  &__content {
    padding-bottom: 30px;
  }

  &__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__img {
    width: 100%;
    height: auto;

    &-link {
      display: block;
    }
  }

  &__title-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    background-color: rgba($primary, 0.7);
    color: #ffffff;
    font-size: 13px;
    transition: 0.25s;

    &:hover {
      background-color: rgba($primary, 0.9);
      color: #ffffff;
      text-decoration: none;
    }
  }
}
