.page-site-gallery-one__content {
  padding-bottom: 30px;
}

.page-site-gallery-one__item-link {
  margin-bottom: 30px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.page-site-gallery-one__img {
  width: 100%;
  height: auto;
}

.page-site-gallery-one__btn-wrap {
  margin-top: 20px;
}
