.product-page {
  padding-bottom: 100px;

  h1 {
    flex-grow: 1;
    margin: 0 15px;
  }
}

.product-page__nav {
  display: flex;
  align-items: center;
  margin-bottom: 80px;

  .btn {
    padding: 13px 10px;
    min-width: 210px;
    flex-shrink: 0;
  }
}

.product-page__carousel {
  margin-bottom: 10px;

  .owl-nav {
    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }

    svg {
      fill: #ffffff;
    }
  }
}

.product-page__carousel-item {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20px;
    background-image: url("/images/zoom-in.svg");
  }

  img {
    border-radius: 5px;
  }
}

.product-page__carousel-thumbs {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;

  li {
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc(20% - 10px);
  }

  a {
    display: block;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.25s;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $primary;
    }
  }

  img {
    max-width: 100%;
  }
}

.product-page__sizes-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.product-page__size-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
}

.product-page__size-img {
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.product-page__sidebar {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 80px;
}

.product-page__order-btn {
  font-size: 16px;
  padding: 12px 10px;
}

.product-page__sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;

  svg,
  img {
    margin-right: 10px;
  }
}

.product-page__same-link {
  margin-top: 20px;
  padding: 13px 10px;
}

.product-page__sidebar-table {
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.product-page__param {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-page__links {
  text-align: center;
}

.product-page__view-all-link,
.product-page__view-set-link,
.product-page__materials-link{
  border-bottom: 1px dashed $text;
  color: inherit;

  &:hover {
    text-decoration: none;
    border-color: transparent;
    color: inherit;
  }
}

.product-page__view-all-link,
.product-page__view-set-link {
  display: inline-block;
  margin-bottom: 15px;
}

.product-page__delivery-link,
.product-page__print-link {
  display: inline-flex;
  margin-bottom: 15px;
  color: inherit;
}

.product-page__delivery-link {
  margin-right: 20px;
}

.product-page__materials {
  margin-bottom: 20px;
}

.product-page__calc-link {
  padding: 9px 10px;

  img,
  svg {
    margin-right: 5px;
  }
}

.product-page__share-title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.product-page__share {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  li {
    margin: 0 10px;
  }
}

.product-page__tab-content {
  margin-top: 40px;
}

.product-page__tab-content {
  h5 {
    margin-bottom: 25px;
    margin-top: 35px;
  }

  a:not([class]) {
    color: $success;
    font-weight: 600;
  }

  p {
    line-height: 1.8;
    margin: 2em 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ul:not([class]) {
    list-style-type: none;
    padding: 0;
    line-height: 1.8;

    li {
      padding-left: 40px;
      position: relative;
      margin-bottom: 25px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 24px;
        height: 24px;
        border: 1px solid $success;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 9px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.701 45.7' fill='%2349d074'%3E%3Cpath d='M20.687 38.332a5.308 5.308 0 01-7.505 0L1.554 26.704A5.306 5.306 0 119.059 19.2l6.928 6.927a1.344 1.344 0 001.896 0L36.642 7.368a5.308 5.308 0 017.505 7.504l-23.46 23.46z'/%3E%3C/svg%3E");
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;
    text-align: center;

    tr:nth-child(even) {
      td {
        background-color: #f2f2f2;
      }
    }

    th {
      font-size: 16px;
      color: $success;
      font-weight: 600;
      border: 1px solid $success;
      padding: 25px 10px;
    }

    td {
      font-weight: 600;
      color: #2c2c2c;
      background-color: #fdfdfd;
      padding: 17px 10px;
      border-left: 1px solid rgba(162, 162, 162, 0.15);

      &:first-child {
        font-weight: bold;
        border-left: none;
        color: #323b49;
      }

      .fa-check {
        font-size: 20px;
      }
    }
  }
}

.product-page__credit-btn {
  padding: 13px 10px;
}

.product-page__credit-link {
  border-bottom: 1px dashed #000e39;
  color: inherit;
  margin-top: 15px;
  display: inline-block;

  &:hover {
    text-decoration: none;
    border-color: transparent;
  }
}

@media (max-width: 991px) {
  .product-page__nav {
    margin-bottom: 60px;

    .btn {
      display: none;
    }

    h1 {
      margin: 0;
    }
  }
}

@media (max-width: 575px) {
  .product-page__sizes-title {
    font-size: 18px;
  }
}
