.product-page {
  padding-bottom: 100px;

  h1 {
    font-size: 42px;
    flex-grow: 1;
    margin: 0 15px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      background-color: #49d074;
    }
  }
}

.product-page__nav {
  display: flex;
  align-items: center;
  margin-bottom: 80px;

  .btn {
    padding: 13px 10px;
    min-width: 210px;
    flex-shrink: 0;
  }
}

.product-page__carousel {
  margin-bottom: 10px;

  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    > button {
      position: absolute;
      transform: translateY(-50%);
      transition: 0.25s;

      &:hover,
      &:focus {
        opacity: 0.5;
      }

      &:focus {
        outline: none;
      }
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }

    svg {
      color: #ffffff;
    }
  }

  .owl-dots {
    text-align: center;
    margin-top: 15px;
  }

  .owl-dot {
    margin: 0 5px;
    transition: 0.25s;

    span {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f7f7f7;
    }

    &.active {
      span {
        background-color: $success;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }
}

.product-page__carousel-item {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20px;
    background-image: url("/images/zoom-in.svg");
  }

  img {
    border-radius: 5px;
  }
}

.product-page__carousel-thumbs {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;

  li {
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc(20% - 10px);
  }

  a {
    display: block;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.25s;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $primary;
    }
  }

  img {
    max-width: 100%;
  }
}

.product-page__sizes-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.product-page__size-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
}

.product-page__size-img {
  display: block;
  margin-bottom: 20px;
}

.product-page__sidebar {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 80px;
}

.product-page__order-btn {
  font-size: 16px;
  padding: 12px 10px;
}

.product-page__sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;

  svg,
  img {
    margin-right: 10px;
  }
}

.product-page__same-link {
  margin-top: 20px;
  padding: 13px 10px;
}

.product-page__sidebar-table {
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.product-page__param {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-page__links {
  text-align: center;
}

.product-page__view-all-link,
.product-page__view-set-link,
.product-page__materials-link{
  border-bottom: 1px dashed $text;
  color: inherit;

  &:hover {
    text-decoration: none;
    border-color: transparent;
    color: inherit;
  }
}

.product-page__view-all-link,
.product-page__view-set-link {
  display: inline-block;
  margin-bottom: 15px;
}

.product-page__delivery-link,
.product-page__print-link {
  display: inline-flex;
  margin-bottom: 15px;
  color: inherit;
}

.product-page__delivery-link {
  margin-right: 20px;
}

.product-page__materials {
  margin-bottom: 20px;
}

.product-page__calc-link {
  padding: 9px 10px;

  img,
  svg {
    margin-right: 5px;
  }
}

.product-page__share-title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.product-page__share {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  li {
    margin: 0 10px;
  }
}
