.projects {
  padding: 40px 0;

  &__item {
    height: 100%;
  }
}

.projects__title {
  margin-bottom: 50px;
}

.projects__carousel {
  &.owl-carousel {
    margin: 0 -15px;
    width: auto;
  }

  .owl-stage-outer {
    margin: -18px 0;
  }

  .owl-stage {
    display: flex;
  }

  .owl-item {
    padding: 18px 15px;
  }
}
