.section-title {
  text-align: center;
  font-size: 42px;
  line-height: 1.15;
  font-weight: bold;
  position: relative;
  padding-bottom: 25px;
  margin: 0;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: $success;
}
