.steps {
  padding: 70px 0 10px;
  text-align: center;
}

.steps__title {
  margin-bottom: 35px;
}

.steps__item {
  max-width: 290px;
  margin: 0 auto 50px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 35px);
    width: 159px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url("../images/next-step.png");
    opacity: 0.3;
  }
}

.steps .row > div:nth-child(3n) .steps__item::after {
  display: none;
}

@media (max-width: 1199px) {
  .steps__item {
    &::after {
      left: calc(100% - 65px);
    }
  }
}

@media (max-width: 991px) {
  .steps__item {
    &::after {
      display: none;
    }
  }
}
