.text-block {
  padding: 40px 0;
  line-height: 1.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-image: url("../images/text-bg.png");

  &.light-bg {
    background-image: url("../images/text-bg--light-bg.png");
  }
}
