.why-us {
  padding: 70px 0 10px;
  background-repeat: no-repeat;
  background-image: url("../images/why-us-bg.png");
  text-align: center;
}

.why-us__title-big {
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  margin: 0 0 35px;
  word-break: break-word;
}

.why-us__title {
  margin-bottom: 60px;
}

.why-us__item {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .why-us__title-big {
    font-size: 42px;
  }
}

@media (max-width: 575px) {
  .why-us__title-big {
    font-size: 34px;
  }
}
