.why-us {
  padding: 70px 0 40px;
  background-repeat: no-repeat;
  background-image: url("../images/why-us-bg.png");
  text-align: center;
}

.why-us__title-big {
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  margin: 0 0 35px;
}

.why-us__title {
  margin-bottom: 60px;
}
