.why-us {
  padding: 70px 0 10px;
  background-repeat: no-repeat;
  background-image: url("../images/why-us-bg.png");
  text-align: center;

  h1 {
    font-size: 48px;
    margin-bottom: 35px;

    &::after {
      display: none;
    }
  }
}

.why-us__item {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .why-us {
    h1 {
      font-size: 42px;
    }
  }
}

@media (max-width: 575px) {
  .why-us {
    h1 {
      font-size: 34px;
    }
  }
}
