.works-map {
  padding-top: 40px;

  iframe {
    height: 700px;
    width: 100%;
    border: none;
  }

  &__form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc((100% - 1110px) / 2);
    width: 530px;

    ~ iframe {
      height: 820px;
    }
  }
}

@media (max-width: 1199px) {
  .works-map {
    &__form {
      right: calc((100% - 930px) / 2);
    }
  }
}

@media (max-width: 991px) {
  .works-map {
    iframe {
      height: 400px;
    }

    &__form {
      display: none;
    }
  }
}
