.works-map {
  padding-top: 40px;

  &__map-wrap {
    position: relative;
  }

  iframe {
    height: 700px;
    width: 100%;
    border: none;
  }

  &__form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    ~ iframe {
      height: 820px;
    }
  }

  &__form-block {
    width: 530px;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 46px 0 rgba(0, 0, 0, 0.2);
    padding: 40px 50px 50px;
    margin-bottom: 0;

    .close {
      font-size: 30px;
      font-weight: normal;
    }
  }

  &__form-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 30px;
  }

  .control-label {
    font-size: 13px;
    color: #afafaf;
  }

  .form-control {
    background-color: #eff0f4;
    border-color: transparent;
    height: 50px;
  }

  textarea.form-control {
    height: auto;
    resize: none;
  }

  .btn {
    @extend .btn-lg;
  }
}

@media (max-width: 991px) {
  .works-map {
    iframe {
      height: 400px;
    }

    &__form {
      display: none;
    }
  }
}
