.works {
  padding: 70px 0;
}

.works__carousel {
  &.owl-carousel {
    margin: 0 -15px;
    width: auto;
  }

  .owl-item {
    padding: 0 15px;
  }
}

.works__item {
  display: block;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
  }
}
