.works-map {
  padding-top: 40px;

  &__map-wrap {
    position: relative;
  }

  iframe {
    height: 700px;
    width: 100%;
    border: none;
  }

  &__form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    ~ iframe {
      height: 820px;
    }
  }

  &__form-block {
    width: 530px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .works-map {
    iframe {
      height: 400px;
    }

    &__form {
      display: none;
    }
  }
}
