.wsmenu>.wsmenu-list>li>ul.sub-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.wsmenu>.wsmenu-list>li:hover>ul.sub-menu {
  opacity: 1;
  visibility: visible;
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.wsmenu>.wsmenu-list>li>.wsmegamenu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.wsmenu>.wsmenu-list>li:hover>.wsmegamenu {
  opacity: 1;
  visibility: visible;
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.wsmenu-list>li>.wsshoptabing {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.wsmenu-list>li:hover .wsshoptabing {
  opacity: 1;
  visibility: visible;
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}