@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "SegoeUI", Arial, sans-serif;
    color: #000e39;
}

.ul-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    transition: 0.25s;
}

.btn-primary {
    background-color: #00bbdf;
    border-color: #00bbdf;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus {
    background-color: #009ebd;
    border-color: #009ebd;
}

.btn-success {
    background-color: #49d074;
    border-color: #49d074;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active:hover,
.btn-success:active:focus {
    background-color: #31bd5d;
    border-color: #31bd5d;
}

.header {
    padding: 20px 0;
}

.header .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.site-logo {
    display: inline-flex;
    align-items: flex-start;
    font-weight: 600;
}

.site-logo:hover,
.site-logo:focus {
    text-decoration: none;
}

.site-logo__img {
    flex-shrink: 0;
    border-radius: 10px;
    margin-right: 5px;
}

.site-logo__name {
    padding-top: 7px;
    font-size: 32px;
    line-height: 1.3;
    color: #00bbdf;
}

.site-logo__descr {
    font-size: 9px;
    color: #90c97f;
    text-align: center;
}

.header__contact {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.3;
}

.header__contact--city,
.header__contact--tel,
.header__contact--email {
    margin-bottom: 25px;
}

.header__contact-icon-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    background-color: #efefef;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    color: #49d074;
    transition: 0.25s;
}

.header__contact:hover .header__contact-icon-wrap {
    color: #31bd5d;
}

.header__contact-key {
    color: rgba(44, 44, 44, 0.5);
}

.header__contact-value {
    color: #323b49;
    white-space: nowrap;
}

.header__contact-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
}

.header__contact .fa {
    font-size: 10px;
    position: relative;
    top: -1px;
}

.header__city-dropdown,
.header__tel-dropdown {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
    border: none;
}

.header__city-dropdown {
    padding: 0;
    overflow: hidden;
}

.header__city-dropdown > li {
    color: #323b49;
}

.header__city-item {
    width: 100%;
    padding: 8px 32px 8px 25px;
    text-align: left;
    border: none;
    background-color: transparent;
    transition: background-color 0.25s;
}

.header__city-item:hover,
.header__city-item:focus {
    background-color: #49ce73;
    color: #ffffff;
}

.header__city-item--active {
    color: #49ce73;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 50%;
    background-size: 12px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.701 45.7' fill='%2349ce73'%3E%3Cpath d='M20.687 38.332a5.308 5.308 0 01-7.505 0L1.554 26.704A5.306 5.306 0 119.059 19.2l6.928 6.927a1.344 1.344 0 001.896 0L36.642 7.368a5.308 5.308 0 017.505 7.504l-23.46 23.46z'/%3E%3C/svg%3E");
}

.header__city-item--active:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.701 45.7' fill='%23ffffff'%3E%3Cpath d='M20.687 38.332a5.308 5.308 0 01-7.505 0L1.554 26.704A5.306 5.306 0 119.059 19.2l6.928 6.927a1.344 1.344 0 001.896 0L36.642 7.368a5.308 5.308 0 017.505 7.504l-23.46 23.46z'/%3E%3C/svg%3E");
}

.header__tel-dropdown {
    padding: 15px 25px;
}

.header__tel-dropdown > li {
    color: rgba(44, 44, 44, 0.5);
}

.header__tel-dropdown > li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.header__tel-dropdown > li > a {
    color: #323b49;
    text-decoration: underline;
    padding: 0;
    font-weight: 600;
    margin-top: 2px;
}

.header__tel-dropdown > li > a:hover,
.header__tel-dropdown > li > a:focus {
    background-color: transparent;
}

.btn--call,
.btn--question {
    max-width: 195px;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 14px 30px;
    border-radius: 5px;
    font-weight: 600;
}

.btn--call::before,
.btn--question::before {
    content: "";
    flex-shrink: 0;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn--call::before {
    width: 12px;
    height: 12px;
    background-image: url("../images/btn-call-icon.svg");
}

.btn--question::before {
    width: 14px;
    height: 14px;
    background-image: url("../images/btn-question-icon.svg");
}

.header__btn + .header__btn {
    margin-top: 10px;
}

.why-us {
    padding: 70px 0 40px;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-image: url("../images/why-us-bg.png");
    text-align: center;
}

.why-us__title-big {
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
    margin: 0 0 35px;
}

.section-title {
    text-align: center;
    font-size: 42px;
    line-height: 1.15;
    font-weight: bold;
    position: relative;
    padding-bottom: 25px;
    margin: 0;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #49d074;
}

.why-us__title {
    margin-bottom: 60px;
}

.why-us-item {
    text-align: center;
}

.why-us-item__circle {
    position: relative;
    width: 122px;
    height: 122px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #49d074;
    color: #00bbdf;
    font-size: 48px;
    line-height: 116px;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
    transition: 0.25s;
}

.why-us-item__circle::before,
.why-us-item__circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #49d074;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
    opacity: 0;
    transition: 0.4s;
}

.why-us-item__circle::before {
    width: 136px;
    height: 136px;
}

.why-us-item__circle::after {
    width: 149px;
    height: 149px;
}

.why-us-item__circle:hover {
    color: #54d27c;
    font-size: 52px;
}

.why-us-item__circle:hover::before {
    opacity: 0.5;
}

.why-us-item__circle:hover::after {
    opacity: 0.3;
}

.why-us-item__descr {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
}

.advantages {
    padding: 70px 0 40px;
    background-repeat: no-repeat;
    background-image: url("../images/why-us-bg.png");
    text-align: center;
}

.advantages__title {
    margin-bottom: 60px;
}

.advantages-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.advantages-list__item {
    width: calc(100% / 7);
}

.advantage__circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 94px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #00bbdf;
    border-radius: 50%;
    border: 1px solid #49d074;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
    transition: 0.25s;
}

.advantage__circle::before,
.advantage__circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #49d074;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
    opacity: 0;
    transition: 0.4s;
}

.advantage__circle::before {
    width: 110px;
    height: 110px;
}

.advantage__circle::after {
    width: 128px;
    height: 128px;
}

.advantage__circle:hover {
    color: #54d27c;
}

.advantage__circle:hover::before {
    opacity: 0.5;
}

.advantage__circle:hover::after {
    opacity: 0.3;
}

.advantage__descr {
    font-size: 16px;
    font-weight: 600;
}

.steps {
    padding: 70px 0 10px;
    text-align: center;
}

.steps__title {
    margin-bottom: 35px;
}

.steps-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.steps-list__item {
    width: 250px;
    margin-right: calc((100% - 750px) / 2);
    margin-bottom: 50px;
}

.steps-list__item:nth-child(3n) {
    margin-right: 0;
}

.steps-list__item::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 30px);
    width: 159px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url("../images/next-step.png");
    opacity: 0.3;
}

.steps-list__item:nth-child(3n)::after {
    display: none;
}

.step {
    position: relative;
}

.step__number {
    position: absolute;
    top: 0;
    right: -20px;
    font-size: 90px;
    line-height: 1;
    font-weight: bold;
    color: #0bd1f8;
    opacity: 0.45;
}

.step__number::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.step__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-repeat: no-repeat;
    background-image: url("../images/1.svg");
}

.step:nth-child(2) .step__title {
    background-image: url("../images/2.svg");
}

.step:nth-child(3) .step__title {
    background-image: url("../images/3.svg");
}

.step:nth-child(4) .step__title {
    background-image: url("../images/4.svg");
}

.step:nth-child(5) .step__title {
    background-image: url("../images/5.svg");
}

.step:nth-child(6) .step__title {
    background-image: url("../images/6.svg");
}

.step__descr {
    font-size: 16px;
}

.footer-middle {
    padding: 120px 0;
    background-color: #2a2c2b;
    color: rgba(255, 255, 255, 0.5);
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__social-title {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
}

.footer__social li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 36px;
    border-radius: 5px;
    color: #ffffff;
    transition: 0.25s;
}

.footer__social-link--vk {
    background-color: #547bcf;
}

.footer__social-link--fb {
    background-color: #3b5998;
}

.footer__social-link--youtube {
    background-color: #df4b38;
}

.footer__social-link--instargam {
    background-image: linear-gradient(-141deg, rgb(141, 22, 206) 10%, rgb(220, 30, 163) 46%, rgb(255, 201, 0) 100%);
}

.footer__social-link--ok {
    background-color: #fb8821;
}

.footer__social-link--tw {
    background-color: #31b7e9;
}

.footer__social-link:hover {
    color: inherit;
}

.footer__menu-title {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__menu li:not(:last-child) {
    margin-bottom: 15px;
}

.footer__menu a {
    color: inherit;
}

.footer__contacts {
    width: 195px;
    margin-left: auto;
}

.footer__contacts-btn {
    margin-bottom: 35px;
}

.footer__contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__contact-item-icon {
    width: 22px;
    flex-shrink: 0;
    color: #49d074;
    position: relative;
    top: 1px;
}

.footer-bottom {
    padding: 35px 0 25px;
    background-color: #1c1d1c;
    color: rgba(255, 255, 255, 0.8);
}

.footer-bottom__development {
    text-align: right;
}