@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "SegoeUI", Arial, sans-serif;
}

.why-us {
    padding: 70px 0 40px;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-image: url("../images/why-us-bg.png");
    text-align: center;
}

.why-us__title-big {
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
    color: #000e39;
    margin-bottom: 35px;
}

.why-us__title {
    margin-bottom: 60px;
}

.section-title {
    font-size: 42px;
    line-height: 1.15;
    font-weight: bold;
    color: #000e39;
    position: relative;
    padding-bottom: 25px;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #49d074;
}

.why-us-item {
    text-align: center;
}

.why-us-item__circle {
    position: relative;
    width: 122px;
    height: 122px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #49d074;
    color: #00bbdf;
    font-size: 48px;
    line-height: 116px;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
    transition: 0.25s;
}

.why-us-item__circle::before,
.why-us-item__circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #49d074;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
    opacity: 0;
    transition: 0.4s;
}

.why-us-item__circle::before {
    width: 136px;
    height: 136px;
}

.why-us-item__circle::after {
    width: 149px;
    height: 149px;
}

.why-us-item__circle:hover {
    color: #54d27c;
}

.why-us-item__circle:hover::before {
    opacity: 0.5;
}

.why-us-item__circle:hover::after {
    opacity: 0.3;
}

.why-us-item__descr {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    color: #000e39;
}
